@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*-----Colors*/

header {
    background-color: blue;
}

body {
    background-color: aqua;
}

/*-----Header styling*/

header {
    color: #ffffff;
    font-family: 'Press Start 2P', 'sans-serif';
}

/*-----Menu styling*/

.menu {
    font-family: 'Press Start 2P', 'sans-serif';
}